@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-wrap-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin flex-column-around-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

@mixin flex-column-center-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
