.logistic {
  background-image: url("/src/shared/assets/background/logistics.png");
  background-size: cover;
  color: var(--color-white);
  padding-bottom: 3rem;

  .wrapper {
    max-width: var(--desktop);
    margin: 0 auto;
    padding: 0 60px;

    .blocks {
      @include flex-between;

      .title {
        padding-top: 250px;
        font-size: var(--font-size-850);

        &::first-line {
          text-transform: uppercase;
        }
      }

      @media screen and (width <= 1210px) {
        .title {
          padding-top: 125px;
          font-size: var(--font-size-800);
          text-align: center;
        }
      }

      @media screen and (width <= 1024px) {
        .title {
          padding-top: 50px;
        }
      }

      @media screen and (width <= 768px) {
        .title {
          padding-top: 20px;
          font-size: var(--font-size-400);
        }
      }

      .paragraph {
        max-width: 600px;
        padding: 30px 5px;
        font-size: var(--font-size-250);
        text-align: justify;
      }

      @media screen and (width <= 768px) {
        .paragraph {
          margin: 0 auto;
          font-size: var(--font-size-150);
          text-align: center;
          padding: 20px 0 2rem;
        }
      }

      @media screen and (width <= 360px) {
        .paragraph {
          font-size: var(--font-size-50);
        }
      }

      .buttons {
        @include flex-wrap-between;

        gap: 10px;

        .catalog {
          background-color: var(--color-green);
          font-size: var(--font-size-150);
          padding: 15px 58px;
          border-radius: 25px;

          &::after {
            content: '→';
            padding-left: 6px;
          }

          &:hover {
            transition: 0.3s;
            background-color: #049e7a;
          }
        }

        @media screen and (width <= 1608px) {
          .catalog {
            padding: 14px 66px;
          }
        }

        @media screen and (width <= 768px) {
          .catalog {
            margin: 0 auto;
            font-size: 10px;
            padding: 10px 46px;
            border-radius: 70px;
          }
        }

        .calculator {
          background-color: var(--color-black);
          font-size: var(--font-size-150);
          padding: 15px 50px;
          border-radius: 25px;

          &::after {
            content: '→';
            padding-left: 6px;
          }

          &:hover {
            transition: 0.3s;
            background-color: #050505d7;
          }
        }

        @media screen and (width <= 768px) {
          .calculator {
            margin: 0 auto;
            font-size: 10px;
            padding: 10px 35px;
            border-radius: 70px;
          }
        }
      }

      .snicket {
        padding-top: 7.5rem;
      }

      @media screen and (width <= 1210px) {
        .snicket {
          padding-top: 5.5rem;
        }
      }

      @media screen and (width <= 768px) {
        .snicket {
          padding-top: 20px;
        }
      }
    }

    @media screen and (width <= 1024px) {
      .blocks {
        @include flex-wrap-center;
      }
    }
  }
}
