.service {
  background-image: url(/src/shared/assets/background/poizon.png);
  background-color: #000000;
  color: white;
  padding-bottom: 7rem;

  .wrapper {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 60px;
    @include flex-wrap-center;

    .title {
      padding-top: 1.25em;
      font-size: var(--font-size-800);
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      .title {
        padding-top: 0px;
        font-size: var(--font-size-400);
      }
    }

    @media screen and (max-width: 360px) {
      .title {
        padding-top: 20px;
        font-size: var(--font-size-250);
      }
    }

    .explanation {
      text-align: center;
      color: var(--color-green);
      font-size: 23px;
      padding: 10px 0px 15px 0px;
    }

    @media screen and (max-width: 768px) {
      .explanation {
        padding-top: 7px;
        font-size: var(--font-size-150);
      }
    }

    @media screen and (max-width: 360px) {
      .explanation {
        padding-bottom: 10px;
        font-size: var(--font-size-50);
      }
    }

    .block {
      @include flex-wrap;
      justify-content: space-around;

      .box {
        @include flex-column-around-wrap;
        max-width: 500px;

        .paragraph {
          text-align: justify;
          font-size: var(--font-size-225);
          padding: 15px 15px 15px 15px;
        }

        @media screen and (max-width: 1024px) {
          .paragraph {
            max-width: 700px;
            padding-top: 13px;
            text-align: center;
          }
        }

        @media screen and (max-width: 768px) {
          .paragraph {
            font-size: var(--font-size-150);
          }
        }

        @media screen and (max-width: 360px) {
          .paragraph {
            font-size: var(--font-size-50);
            padding: 10px 10px 10px 10px;
          }
        }
      }

      @media screen and (max-width: 1395px) {
        .box {
          max-width: 700px;
          padding: 0px;
          margin: 0 auto;
        }
      }

      @media screen and (max-width: 768px) {
        .box {
          padding-left: 0px;
          max-width: 700px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .blocks {
      padding-top: 3.25em;
    }
  }

  @media screen and (max-width: 360px) {
    .blocks {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .service {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 360px) {
  .service {
    padding-bottom: 1rem;
  }
}
