.header {
  background-color: black;
  color: #ffffff;
  padding-bottom: 30px;

  .wrapper {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 60px;

    .block {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logotype {
        padding-top: 30px;
        cursor: pointer;
        font-size: 20px;
      }

      .logotype::after {
        content: "X";
        color: rgb(37, 182, 37);
      }

      .list {
        display: flex;
        padding-top: 30px;
        font-weight: 400;

        li {
          margin-right: 70px;
          cursor: pointer;
        }

        li::first-line {
          text-transform: uppercase;
        }
      }

      .icons {
        display: flex;
        justify-content: space-between;
      }

      .bell,
      .message,
      .account {
        padding-top: 30px;
      }

      .message {
        padding-left: 40px;
      }

      .account {
        position: relative;
        top: 12px;
        font-size: 17px;
        padding: 15px 35px;
        background-color: #008968;
        color: #ffffff;
        border-radius: 25px;
        transition: transform 0.3s;
        letter-spacing: 1px;
        border: none;
      }

      @media screen and (max-width: 1210px) {
        .block {
          display: flex;
          justify-content: space-between;
        }

        .list {
          display: none;
        }
      }

      @media screen and (max-width: 768px) {
        .icons, .account {
          display: none;
        }
      }
      
      // Бургер-меню 
      @media screen and (max-width: 360px) {
        .icons, .account {
          display: none;
        }

        .logotype {
          margin: 0 auto;
        }
      }
    }
  }
}
