.header {
  background-color: black;
  color: #ffffff;
  padding-bottom: 30px;

  .wrapper {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 60px;

    .headerWrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      .logotype {
        padding-top: 30px;
        cursor: pointer;
        font-size: 20px;
      }

      .navigation {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        font-weight: 400;

        li {
          margin-right: 70px;
          cursor: pointer;
        }

        li::first-line {
          text-transform: uppercase;
        }
      }

      .icons {
        display: flex;
        justify-content: space-between;
      }

      .icon1, .icon2, .signIn {
        padding-top: 30px;
      }

      .icon2 {
        padding-left: 40px;
      }

      .signIn {
        position: relative;
        top: 12px;
        font-size: 17px;
        padding: 15px 35px;
        background-color: #008968;
        color: #FFFFFF;
        border-radius: 25px;
        transition: transform 0.3s;
        letter-spacing: 1px;
        border: none;
      }
    }
  }
}
