.header {
  background-color: var(--color-primary-400);
  color: var(--color-white);
  padding-bottom: 30px;

  .wrapper {
    max-width: var(--width-for-computer);
    margin: 0 auto;
    padding: 0 60px;

    .block {
      @include flex-center-between;

      .logotype {
        padding-top: 30px;
        cursor: pointer;
        font-size: 20px;
      }

      .logotype::after {
        content: "X";
        color: rgb(37, 182, 37);
      }

      .list {
        display: flex;
        padding-top: 30px;
        font-weight: 400;

        li {
          margin-right: 70px;
          cursor: pointer;
        }

        li::first-line {
          text-transform: uppercase;
        }
      }

      .icons {
        @include flex-between;
      }

      .bell,
      .message,
      .account {
        padding-top: 30px;
      }

      .message {
        padding-left: 40px;
      }

      .account {
        position: relative;
        top: 12px;
        font-size: 17px;
        padding: 15px 35px;
        background-color: var(--color-green);
        border-radius: 25px;
        transition: transform 0.3s;
        letter-spacing: 1px;
        border: none;
      }

      @media screen and (max-width: 1210px) {
        .block {
          @include flex-between;
        }

        .list {
          display: none;
        }
      }

      @media screen and (max-width: 768px) {
        .icons, .account {
          display: none;
        }
      }
    }
  }
}
