.logistic {
  background-image: url(/src/assets/background/logistics.png);
  background-size: cover;
  color: white;
  padding-bottom: 7rem;

  .wrapper {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 60px;

    .blocks {
      display: flex;
      justify-content: space-between;

      .title {
        padding-top: 250px;
        font-size: 6rem;
      }

      .title::first-line {
        text-transform: uppercase;
      }

      .paragraph {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 600px;
        font-size: 21px;
        font-weight: 400;
        text-align: justify;
      }

      .catalog {
        width: 265px;
        font-size: 17px;
        padding: 15px 35px;
        background-color: #008968;
        color: #ffffff;
        border-radius: 100px;
        transition: transform 0.3s;
        letter-spacing: 1px;
        border: none;
      }

      .calculator {
        margin-left: 20px;
        width: 300px;
        font-size: 17px;
        padding: 15px 35px;
        background-color: #000000;
        color: #ffffff;
        border-radius: 50px;
        transition: transform 0.3s;
        letter-spacing: 1px;
        border: none;
      }

      .catalog::after,
      .calculator::after {
        content: '→';
        padding-left: 10px;
      }

      .catalog:hover {
        transition: 0.3s;
        background-color: #049e7a;
      }

      .calculator:hover {
        transition: 0.3s;
        background-color: #050505d7;
      }

      .snicket {
        padding-top: 7.5rem;
      }

      @media screen and (max-width: 1210px) {
        .title {
          padding-top: 125px;
          font-size: 50px;
          text-align: center;
        }

        .snicket {
          padding-top: 5.5rem;
        }
      }

      @media screen and (max-width: 1024px) {
        .title {
          padding-top: 50px;
          font-size: 70px;
        }

        .snicket {
          width: 85%;
        }
      }

      @media screen and (max-width: 768px) {
        .paragraph {
          padding-bottom: 2rem;
        }

        .snicket {
          width: 75%;
        }

        .title {
          text-align: center;
          padding-top: 20px;
          font-size: 30px;
        }

        .paragraph {
          padding-top: 20px;
          margin: 0 auto;
          width: 350px;
          font-size: 16px;
          text-align: center;
        }

        .catalog,
        .calculator {
          margin: 0 auto;
          // margin-left: 28px;
          font-size: 10px;
          padding: 10px 35px;
          border-radius: 70px;
          width: 200px;
          height: 35px;
        }

        .calculator {
          padding: 10px;
          margin-top: 10px;
        }

        .snicket {
          margin-left: 40px;
          padding-top: 20px;
        }
      }

      @media screen and (max-width: 360px) {
        .title {
          padding-top: 20px;
          font-size: 30px;
        }

        .paragraph {
          padding-top: 20px;
          text-align: center;
          width: 280px;
          font-size: 10px;
        }

        .catalog,
        .calculator {
          margin-left: 28px;
          font-size: 10px;
          padding: 10px 35px;
          border-radius: 70px;
          width: 222px;
          height: 35px;
        }

        .calculator {
          padding: 10px;
          margin-top: 10px;
        }

        .snicket {
          margin-left: 10px;
          padding-top: 25px;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .logistic {
    padding-bottom: 3rem;
  }
}

.order {
  background-image: url(/src/assets/background/green.png);
  background-size: cover;
  color: white;
  padding-bottom: 5rem;

  .wrapper {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 60px;

    .blocks {
      display: flex;
      justify-content: center;
      // flex-wrap: wrap;

      .title {
        padding-top: 250px;
        font-size: 84px;
      }

      .paragraph {
        padding-top: 9px;
        padding-bottom: 25px;
        max-width: 500px;
        font-size: 23px;
      }

      .block {
        max-width: 700px;
        //height: 250px;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(1.54379px);
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 30px;
        border-radius: 30px;
        text-align: justify;

        h3 {
          font-family: 'Arial';
          font-style: normal;
          font-weight: 700;
          font-size: 19.949px;
          line-height: 29px;
          /* or 144% */

          display: flex;
          align-items: center;
          text-transform: uppercase;
          padding-bottom: 9px;
        }

        p {
          // font-family: 'SF Pro Display';
          // font-style: normal;
          // font-weight: 500;
          // font-size: 18.1383px;
          // line-height: 24px;
          // color: #ffffff;
          padding-bottom: 10px;
        }
      }
      .certificate {
        padding-top: 70px;
      }

      @media screen and (max-width: 1210px) {
        .title {
          text-align: center;
          padding-top: 100px;
          font-size: 50px;
        }
        .paragraph {
          padding-top: 20px;
          // width: 700px;
        }
        .certificate {
          padding-top: 0px;
        }
      }

      @media screen and (max-width: 768px) {
        .title {
          padding-top: 50px;
          font-size: 30px;
        }
        .paragraph {
          padding-top: 20px;
          text-align: center;
          font-size: 16px;
        }
        .certificate {
          padding-top: 0px;
        }

        .block {
          h3 {
            font-size: 19px;
          }

          p {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            padding-bottom: 10px;
          }
        }
      }

      @media screen and (max-width: 360px) {
        .title {
          padding-top: 20px;
          font-size: 20px;
        }

        .paragraph {
          padding-top: 20px;
          text-align: center;
          font-size: 12px;
        }

        .block {
          padding-top: 20px;
          padding-left: 30px;
          padding-right: 30px;
          // max-width: 330px;
          // height: 180px;

          h3 {
            font-size: 10px;
          }

          p {
            font-size: 8px;
            // line-height: 2;
            color: #ffffff;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1210px) {
  .blocks {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  .order {
    padding-bottom: 0px;
  }
}

.service {
  background-image: url(/src/assets/background/poizon.png);
  background-color: #000000;
  color: white;
  padding-bottom: 7rem;

  .wrapper {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 60px;

    .block {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .indent {
        padding-top: 6.25em;

        .title {
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: 600;
          font-size: 63.5285px;
          line-height: 76px;
          text-align: center;
        }

        .explanation {
          text-align: center;
          color: #008968;
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: 600;
          font-size: 28.7024px;
          line-height: 34px;
          padding-bottom: 60px;
        }

        .img {
          margin: 0 auto;
        }

        .row {
          display: flex;
          flex-wrap: wrap;
        }

        .box {
          padding-left: 30px;
          max-width: 500px;

          .paragraph {
            text-align: justify;
            font-style: normal;
            font-weight: 500;
            font-size: 17.3346px;
            line-height: 21px;
            color: #ffffff;
            padding-left: 30px;
            padding-bottom: 10px;
            padding-top: 35px;
          }
        }

        @media screen and (max-width: 1024px) {
          .box {
            .paragraph {
              max-width: 700px;
              padding-top: 13px;
              padding-top: 15px;
            }
          }
        }

        @media screen and (max-width: 768px) {
          .title {
            padding-top: 0px;
            font-size: 30px;
          }

          .explanation {
            padding-top: 7px;
            text-align: center;
            font-size: 16px;
          }

          .box {
            padding-left: 0px;
            max-width: 700px;

            .paragraph {
              padding-top: 15px;
              text-align: center;
              font-size: 16px;
            }
          }
        }

        @media screen and (max-width: 360px) {
          .explanation {
            padding-bottom: 30px;
          }

          .title {
            font-size: 20px;
          }

          p {
            font-size: 9px;
            margin: 0 auto;
            width: 250px;
          }

          .box {
            .paragraph {
              font-size: 9px;
              width: 250px;
              padding: 10px 10px 10px 10px;
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        .indent {
          padding-top: 3.25em;
        }
      }

      @media screen and (max-width: 360px) {
        .indent {
          padding-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .service {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 360px) {
  .service {
    padding-bottom: 1rem;
  }
}

.country {
  background-image: url(/src/assets/background/poizon.png);
  background-color: #000000;
  color: white;
  padding-bottom: 2rem;

  .wrapper {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 60px;

    .blocks {
      display: flex;
      flex-direction: row-reverse;

      .block {
        max-width: 700px;
        .title {
          text-align: center;
          padding-top: 50px;
          font-size: 35px;
        }

        .paragraph {
          text-align: justify;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #ffffff;
          padding: 30px 15px 35px;
        }
      }

      @media screen and (max-width: 768px) {
        .block{
          .title {
            padding-top: 0px;
            font-size: 28px;
          }
          .paragraph {
            padding: 10px 10px 10px 10px;
            text-align: center;
            font-size: 16px;
          }
        }   
      }

      @media screen and (max-width: 360px) {
        .block{
          .title {
            padding-top: 0px;
            font-size: 20px;
          }
          .paragraph {
            font-size: 9px;
          }
        }   
      }
    }
  }
}
